INFISICAL_CLIENT_ID=xxx
INFISICAL_CLIENT_SECRET=xxxx
INFISICAL_PROJECT_ID=xxx
INFISICAL_ENVIRONMENT=dev

SPRING_SECURITY_ADMINS='[{"name":"admin","email":"admin@example.com","password":"password","role":"ADMIN"},{"name":"admin_ops","email":"admin.ops@example.com","password":"password123","role":"ADMIN"},{"name":"admin_system","email":"admin.sys@example.com","password":"password456","role":"ADMIN"},{"name":"super_admin","email":"super.admin@example.com","password":"password789","role":"ADMIN"}]'
SPRING_SECURITY_JWT_SECRET="mySecretKey"
SPRING_SECURITY_JWT_ACCESS_TOKEN_EXPIRATION=900000
SPRING_SECURITY_JWT_REFRESH_TOKEN_EXPIRATION=86400000

# CORS allowed origins (comma-separated patterns; dev: http://localhost:* , prod: https://chat.example.com)
CORS_ALLOWED_ORIGIN_PATTERNS=http://localhost:5173

MONGODB_URI=mongodb://root:password@localhost:27017/mydb?authSource=admin

RABBITMQ_HOST=localhost
RABBITMQ_PORT=61613
RABBITMQ_VHOST=cs-message
RABBITMQ_USER=stomp-client
RABBITMQ_PASSWORD=xxxxx
RABBITMQ_SYSTEM_USER=stomp-host
RABBITMQ_SYSTEM_PASSWORD=xxxx


# Agent

OTEL_EXPORTER_OTLP_PROTOCOL="grpc"
OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4317"
OTEL_RESOURCE_ATTRIBUTES="service.name=cs-message,service.namespace=my-application-group,deployment.environment=development"
# Batch span processor (how traces are queued & flushed)
OTEL_BSP_MAX_EXPORT_BATCH_SIZE="512"     
OTEL_BSP_SCHEDULE_DELAY="5000"           
OTEL_BSP_MAX_QUEUE_SIZE="4096"           

OTEL_TRACES_SAMPLER="parentbased_traceidratio"
OTEL_TRACES_SAMPLER_ARG="1.0"

OTEL_JAVAAPP_ENABLED="true"
OTEL_LOG_LEVEL="info"


GRAFANA_AUTH="xxxxxxx"
