SPRING_SECURITY_ADMINS='[{"name":"admin","email":"admin@example.com","password":"password","role":"ADMIN"},{"name":"admin_ops","email":"admin.ops@example.com","password":"password123","role":"ADMIN"},{"name":"admin_system","email":"admin.sys@example.com","password":"password456","role":"ADMIN"},{"name":"super_admin","email":"super.admin@example.com","password":"password789","role":"ADMIN"}]'

SPRING_SECURITY_JWT_SECRET=""
SPRING_SECURITY_JWT_ACCESS_TOKEN_EXPIRATION=100000
SPRING_SECURITY_JWT_REFRESH_TOKEN_EXPIRATION=16400000
